transformers==4.33.1
accelerate==0.23.0
diffusers==0.22.0
gradio==5.20.0
pyyaml
pygame
opencv-python
info-nce-pytorch
kornia
segmentation-models-pytorch==0.3.3
tqdm
torch
torchvision
torchaudio
Pillow
numpy
tensorboard
scikit-learn
huggingface_hub==0.19.0
lpips